dataset
*.json
*.pt
src/models
src/__pycache__
src/utils/nms/__pycache__
src/utils/__pycache__
src/model_efficientnet/__pycache__
src/mylayers/modules/__pycache__
src/mylayers/__pycache__
src/mylayers/functions/__pycache__
src/runs
src/pretrained_model/eff*
src/pretrained_model/epc*
src/pretrained_model/resnet*
src/weights
capsule_model.py
final_result.zip
*.ipynb
submit/*